
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');



body {
    background-color: rgb(10, 10, 48);
    /* background-color: brown; */
    /* background-color: white; */
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
nav{
    display: flex;
    padding: 10px;
    background-color: rgb(27, 28, 68);
}

.logo{
    color: white;
    font-size: 2rem;
    font-family: "Roboto Mono";
    font-weight: bold;
}

.nav-left{
    margin-left: auto;
}

.nav-left ul{
    display: flex;
    list-style: none;
}

.nav-left ul li{
    margin-left: 20px;
}

.nav-left ul li a{
    text-decoration: none;
    color: White;
}


.card {
    background-color: rgb(27, 28, 68);
    border: thin black;
    margin: auto;
    width: 300px;
    height: 520px;
    padding: 20px;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
}

.text p {
    font-style: bold;
}



.big img {
    width: 300px;
    border-radius: 10px;
}

.mine {
    display: flex;
}
.mini, .minie{
    display: flex;
    align-items: center;
}


.minie {
    margin-left: auto;
}

.mine img {
    border-radius: 80px;
    margin-right: 10px;
}

.line {
    border-bottom: solid thin white;
}

.me {
    width: inherit;
    display: grid;
    position: relative;
}

.write {
    display: grid;
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    color: white;
}

.me img {
    border-radius: 150px;
}